*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    border-bottom: 1px solid rgb(207, 204, 204);
}
#headertop{
    background-color: rgb(217, 217, 217);
    color: rgb(91, 91, 91);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    font-size: 0.9;
}

#headertop >.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
#headerBtm{
    padding: 1rem 0;
    
}

#headerBtm >.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; 
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    
}

#logoImg{
    width: 3rem;
}

#headerLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#headerLinks a {
    color: rgb(44, 43, 43);
}

.headerLink{
    position: relative;
}

.count{
    font-size: 0.75rem;
    font-weight: 300;
    background-color: rgb(75, 245, 75);
    color:black;
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;
    translate: 45% -25%;
}

#menuBtn{
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
}

#langSlt{
    display: none;
}

#headerCtrgy{
    display: none;
}

#searchholder{
    width: 100%;
    max-width: 540px;
}
#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: #ffffff;
    padding: 8.8px 16px;
    width: 100%;
    border-radius: 0.5rem;
    display: none ;
    border:  solid #dfe2e1
    
}
.searchinput{
    padding: 8.8px 16px;
    border: none;
    width: 100%;
    outline: none;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.cntBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    color: rgb(128, 127, 127);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    width: 100%;
    display: none;
}
.bton{
    border-radius: 0.5rem;
    border:  solid #dfe2e1;
    
    

}
.butn{
    padding-right: 20%;
}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
  #headertop >.container{
    justify-content: space-between;
  }
  
    #langSlt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  }

    #flag{
    width: 1.25rem;
  }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */

    #menuBtn{
        display: none;
    }
    #alldptBtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding:0.5rem 1rem;
        border: none;
        background-color: rgb(38, 182, 38);
        color: rgb(255, 252, 252);
        border-radius: 0.5rem;
    }

    #headerCtrgy{
        display: flex;
    }

    #searchbox{
        display: flex;
    }
    .cntBtn{
        display: flex;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}